<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

<!-- ======= Values Section ======= -->
 <section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <p>Our Values</p>
        <!-- <p>Odit est perspiciatis laborum et dicta</p> -->
      </header>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/img/home-page/diverse-Img.jpeg" class="img-fluid" alt="">
            <h3>Diverse Expertise</h3>
            <p>Our community comprises a diverse spectrum of AV professionals, from audio engineers and visual artists to technology innovators and content creators. This diversity enriches our discussions and knowledge-sharing.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/img/home-page/col-Img.jpeg" class="img-fluid" alt="">
            <h3>Collaboration</h3>
            <p>We believe in the power of collaboration. Through shared insights, experiences, and expertise, we amplify the impact of each individual within our community.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/img/home-page/cont-Img.jpeg" class="img-fluid" alt="">
            <h3>Continuous Learning</h3>
            <p>In the ever-evolving world of AV technology, we embrace continuous learning. Our community is a place to stay informed, exchange knowledge, and stay ahead of industry trends.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->