 <!-- ======= Hero Section ======= -->
 <section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up" data-aos-delay="400" class="title_header">Sharpen your AV skills and knowledge within an outstanding community</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">Take your collaboration to new heights with top-tier AV professionals. Share insights, stay informed about cutting-edge technologies, upcoming trade shows, and training opportunities. Gain exclusive access to AV calculators and other valuable benefits!</h2>
        <div data-aos="fade-up" data-aos-delay="600">
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/home-page/hero-img.png" width="87%" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
