body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 15px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container h2 span {
  color: #f3c93e;
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .about_section {
  background-color: #313958;
}

.header_section {
  background-color: #3a4468;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .header_top {
  padding: 15px 0;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
}

.header_section .header_bottom {
  padding: 10px 0;
}

.top_nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_nav a {
  color: #ffffff;
  margin-right: 10px;
}

.contact_nav a i {
  color: #6D67E4;
}

.contact_nav a:hover {
  color: #6D67E4;
}

.search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
}

.search_form .form-control {
  border-radius: 5px 0 0 5px;
  height: 40px;
  width: auto;
  min-width: unset;
}

.search_form button {
  width: 45px;
  min-width: 45px;
  height: 40px;
  padding: 0;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #6D67E4;
  border-radius: 0 5px 5px 0;
}

.user_option_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user_option_box a {
  color: #ffffff;
  margin-left: 25px;
  /* text-transform: uppercase; */
}

.user_option_box a i {
  color: #f3c93e;
}

.user_option_box a span {
  margin-left: 5px;
}

.user_option_box a:hover {
  color: #f3c93e;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  color: #000000;
  font-weight: bold;
  font-size: 28px;
  font-weight: bold;
}

.navbar-brand span {
  color: #ffffff;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 25px;
  color: #ffffff;
  text-align: center;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #f3c93e;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

.product_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}

.product_section .box .img-box {
  background-color: #f8f8f8;
  width: 100%;
  height: 275px;
  display: -webkit-box;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 15px;
}

.product_section .box .img-box img {
  height: 175px;
  max-width: 100%;
}

.cart_Image {
  height: 100px;
  max-width: 100%;
}

.product_section .box .img-box .add_cart_btn {
  display: inline-block;
  width: 175px;
  text-align: center;
  height: 45px;
  line-height: 45px;
  background-color: #3a4468;
  color: #ffffff;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  z-index: 3;
}

.product_section .box .img-box .add_cart_btn:hover {
  background-color: #6D67E4;
  color: #ffffff;
}

.product_section .box .img-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.product_section .box .detail-box {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.product_section .box .product_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product_section .box .star_container {
  color: #f2b01e;
}

.product_section .box:hover .img-box .add_cart_btn {
  opacity: 1;
  visibility: visible;
}

.product_section .box:hover .img-box::before {
  opacity: .55;
}

.product_section .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}

.product_section .btn_box .view_more-link {
  display: inline-block;
  padding: 10px 45px;
  background-color: #6D67E4;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #f3c93e;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.fa-cart-plus {
  color: #6D67E4 !important;
}

.product_section .btn_box .view_more-link:hover {
  background-color: transparent;
  color: #f3c93e;
}

h1 {
  font-weight: 500;
}

.txt_white {
  color: white;
}

.rounded-circle {
  width: 45px;
}

i {
  font-size: 24px;
}

.custom-dialog-container {
  width: 500px;
  overflow: auto;
}

label {
  font-weight: 400;
  color: black;
  margin-top: 10px;
}

.filter_box {
  width: 250px;
}

.person_Icon {
  color: blue;
  margin-bottom: -6px;
}

.phone_Icon {
  color: green;
  margin-bottom: -6px;
}

.location_Icon {
  color: orange;
  margin-bottom: -6px;
}

.seller_Name {
  font-size: 19px;
  font-weight: 500;
  color: black;
}

.dropdown a {
  color: black !important;
}

.checkbox {
  transform: scale(1.5);
  /* margin-right: 15px; */
  position: relative;
  right: 15px;
  bottom: 2px;
}

select {
  border: none;
}

.navbar a {
  display: inline-block;
  padding: 0;
}

.navbar li {
  margin-top: 8px;
}

li::marker {
  color: white;
}

.fa-edit {
  color: blue;
}

.text-danger {
  margin-left: 10px;
}


.fa-sign-out {
  color: red !important;
  font-size: 22px !important;
  margin-left: 5px !important;
}

.seller_Number, .seller_location {
  font-weight: 500;
  color: black;
}

.popup {
  overflow: hidden;
  width: 218px;
  height: 137px;
  border-bottom: 4px solid #6D67E4;
}

.product_Name {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  margin-top: -5px;
  margin-bottom: 8px;
}

.arrow_Container {
  padding-left: 1%;
}

span {
  color: black;
}

.description {
  text-align: center;
  font-size: 14px;
}

textarea {
  max-height: 100px;
}

.cart_description {
  font-size: 14px;
}