 
  <section id="contact" class="container">
    <div class="container-xl px-4 profile_container">
      <div class="row">
        <div class="col-xl-12">
          <!-- Account details card-->
          <div class="card mb-4">
            <!-- <div class="card-header">Profile Info</div> -->
            <div class="card-body">
              <form>
                
                <h4>PERSONAL DETAILS</h4>
                <div class="row gx-3 mt-2">
                  <div class="col-md-6">
                      <label for="inputFirstName">Full Name</label>
                      <div class="input-group">
                          <input class="form-control" maxlength="50" id="inputFirstName" placeholder="Enter full name" type="text">
                          <span class="material-icons">person</span>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <label for="inputLastName">Email</label>
                      <div class="input-group">
                          <input type="email" class="form-control" id="inputLastName" placeholder="Enter email ID">
                          <span class="material-icons">email</span>
                      </div>
                  </div>
              </div>
              
              
                  

                  <div class="row gx-3 mt-3">
                  
                  
                    <div class="col-md-6">

                      <div class="row">
                        <label>Phone</label>
                        <div class="col-md-3">
                          <div class="input-group">
                            <input class="form-control std_code" id="inputLastName" maxlength="66" name="countryCode" [(ngModel)]="countryCode" type="text">
                            <!-- <span class="material-icons">location_on</span> -->
                            <img src="assets/img/av-profile/indian-flag.png" class="img-fluid material-icons" alt="">
                        </div>
                          <!-- <select #country name="country" class="form-control phone_codes" id="country" (change)="onCountryChange($event)">
                            <option [value]="null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;STD Codes</option>
                            <option *ngFor="let country of countries">
                               {{country.phonecode}} {{ country.name }}
                            </option>
                        </select> -->
                        
                          </div>
                          <div class="col-md-9 ml-4">

                      <!-- <input class="form-control" id="inputFirstName" placeholder="Enter phone number" type="text"> -->
                      <div class="input-group">
                        <input class="form-control" id="inputLastName" placeholder="Enter phone number" type="text">
                        <span class="material-icons">call</span>
                    </div>
                    </div>
                    </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <label>DOB</label>
                          <!-- <input type="date" matInput class="form-control" id="inputLastName" placeholder="Mobile Number"> -->
                          <div class="input-group">
                            <input type="date" class="form-control phone_codes" id="inputLastName" placeholder="Enter email ID">
                            <!-- <span class="material-icons">call</span> -->
                        </div>
                        </div>
                       <div class="col-md-6">
                        <label>Gender</label>
                      <!-- <input class="form-control" placeholder="Gender" type="text"> -->
                      <select class="form-control phone_codes" name="gender">
                        <option value="" selected disabled>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    </div>
                  </div>
                  </div>
                  </div><br>
                <!-- Experience Details -->               
                  <h4>EXPERIENCE(Latest)</h4>
                  <div class="row gx-3 mb-1 mt-2">
                    <div class="col-md-4">
                      <label>Job Title</label>
                      <!-- <input class="form-control" placeholder="Enter Job Title" type="text"> -->
                      <div class="input-group">
                        <input class="form-control" id="inputLastName" placeholder="Enter job title" type="text">
                        <span class="material-icons">work</span>
                    </div>
                    </div>
                    <div class="col-md-4">
                      <label>Company Name</label>
                      <!-- <input class="form-control" placeholder="Enter Company Name" type="text"> -->
                      <div class="input-group">
                        <input class="form-control" id="inputLastName" placeholder="Enter company name" type="text">
                        <span class="material-icons">business</span>
                    </div>
                    </div>
                    <div class="col-md-4">
                      <label>Location</label>
                      <!-- <input class="form-control" placeholder="Enter Location" type="text"> -->
                      <div class="input-group">
                        <input class="form-control" id="inputLastName" maxlength="30" placeholder="Enter location" type="text">
                        <span class="material-icons">location_on</span>
                    </div>
                    </div>
                  </div><br>   
             
                <!-- Address Details -->
                <h4>ADDRESS</h4>
                  <div class="row gx-3 mt-2">                
                    <div class="col-md-6">
                      <label>Adress1</label>
                      <!-- <input class="form-control" id="inputFirstName" placeholder="Enter Adress1" type="text"> -->
                      <div class="input-group">
                        <input class="form-control" id="inputLastName" maxlength="66" placeholder="Enter Adress1" type="text">
                        <span class="material-icons">location_on</span>
                    </div>
                    </div>
                    <div class="col-md-6">
                      <label>Adress2</label>
                      <!-- <input class="form-control" id="inputFirstName" placeholder="Enter Adress2" type="text"> -->
                      <div class="input-group">
                        <input class="form-control" id="inputLastName" maxlength="66" placeholder="Enter Adress2" type="text">
                        <span class="material-icons">location_on</span>
                    </div>
                    </div>
                    </div>

                    <div class="row gx-3 mt-3">                
                      <div class="col-md-3">
                        <label>Country</label>
                        <div class="input-group">
                        <select #country name="country" class="form-control" id="country" (change)="onCountryChange($event)">
                          <option [value]="null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Your Country</option>
                          <option *ngFor="let country of countries" [value]="country | json">
                              {{ country.name }}
                          </option>
                      </select>
                      <span class="material-icons">public</span>
                      </div>
                      </div>
                      <div class="col-md-3">
                        <label>State</label>
                        <div class="input-group">
                        <select #state name="state" id="state" class="form-control form-dropdown border" name="role" (change)="onStateChange($event)">
                          <option [value]="null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Your State</option>
                          <option *ngFor="let state of states" [value]="state | json">
                              {{ state.name }}
                          </option>
                      </select>
                      <span class="material-icons">location_city</span>
                      </div>
                      </div>

                      <div class="col-md-3">
                        <label>City</label>
                        <div class="input-group">
                        <select #city name="city" id="city" class="form-control" (change)="onCityChange($event)">
                          <option [value]="null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Your City</option>
                          <option *ngFor="let city of cities" [value]="city | json">
                              {{ city.name }}
                          </option>
                      </select>
                      <span class="material-icons">location_on</span>
                      </div> 
                      </div>


                      <div class="col-md-3">
                        <label>ZipCode</label>
                        <!-- <input class="form-control" id="inputFirstName" placeholder="Enter phone number" type="text"> -->
                        <div class="input-group">
                          <input class="form-control" type="number" onKeyPress="if(this.value.length==6) return false;" id="inputLastName" placeholder="Enter zipcode">
                          <span class="material-icons">local_post_office</span>
                      </div>
                      </div>
                      </div>




                    <!-- <div class="col-md-6">
                      <div class="row gx-3">
                        <div class="col-md-6">
                          <select #country name="country" class="form-control" id="country" (change)="onCountryChange($event)">
                            <option [value]="null">Select Your Country</option>
                            <option *ngFor="let country of countries" [value]="country | json">
                                {{ country.name }}
                            </option>
                        </select>
                        </div>
                        <div class="col-md-6">
                          <select #state name="state" id="state" class="form-control form-dropdown border" name="role" (change)="onStateChange($event)">
                            <option [value]="null">Select Your State</option>
                            <option *ngFor="let state of states" [value]="state | json">
                                {{ state.name }}
                            </option>
                        </select>
                        </div>
                        <div class="col-md-6 mt-1">
                          <select #city name="city" id="city" class="form-control" (change)="onCityChange($event)">
                            <option [value]="null">Select Your City</option>
                            <option *ngFor="let city of cities" [value]="city | json">
                                {{ city.name }}
                            </option>
                        </select>
                        </div>
                        <div class="col-md-6 mt-2 text-center">
                          <input class="form-control" placeholder="Pin Code" type="text">
                        </div>
                      </div>
                    </div> -->
                
                <!-- Save changes button-->
                <div class="d-flex justify-content-end mt-3">
                  <button class="btn btn-warning">Cancel</button>
                  <button class="btn btn-success">Save</button>
                </div> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>