  <!-- ======= Contact Section ======= -->
  <section id="contact" style="display: none;" class="contact">

    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>My Profile</h2>
        </div>
  
      <div class="row gy-4">
  
        <div class="col-lg-12">
          <form method="post" class="php-email-form">
            <div class="row gy-4">
    
              <div class="col-md-12 profile-textarea">
                <label>Profile Headline</label>
                <textarea class="form-control" name="message" rows="3" placeholder="Message" required></textarea>
              </div>
  
              <div class="section-1">
           <label class="mb-0">Personal Details</label>
              <div class="row">
                 <div class="col-md-4">
                <input type="email" class="form-control" name="firstName" placeholder="First Name" required>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" name="middleName" placeholder="Middle Name" required>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" name="lastName" placeholder="Last Name" required>
              </div>
                
                <div class="row mt-2">
                  <div class="col-md-4">
                 <input type="email" class="form-control" name="firstName" placeholder="Email Id" required>
               </div>
               <div class="col-md-4">
                 <input type="text" class="form-control" name="middleName" placeholder="Mobile Number" required>
               </div>
               <div class="col-md-4">
                <select class="form-control form-dropdown" name="gender" style="height: 41px;">
                  <option value="" selected disabled>Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
              </select>
             </div>
           </div>
  </div>
              </div>
  
  
              <div class="section-1">
           <label class="mb-0">Educational Details(Highest)</label>
           <div class="row">
              <div class="col-md-4">
             <input type="email" class="form-control" name="firstName" placeholder="University/Institute" required>
           </div>
           <div class="col-md-4">
             <input type="text" class="form-control" name="middleName" placeholder="Degree" required>
           </div>
           <div class="col-md-4">
             <input type="text" class="form-control" name="lastName" placeholder="Year" required>
           </div>
             </div>
      </div>
  
  
             <label class="mb-0">Experience(Latest)</label>
             <div class="row">
                <div class="col-md-4">
               <input type="email" class="form-control" name="firstName" placeholder="Job Tittle" required>
             </div>
             <div class="col-md-4">
               <input type="text" class="form-control" name="middleName" placeholder="Company Name" required>
             </div>
             <div class="col-md-4">
               <input type="text" class="form-control" name="lastName" placeholder="Location" required>
             </div>
               </div>
  
               <div class="row mt-2">
                <div class="col-md-4">
                  <select class="form-control form-dropdown border" name="role" required>
                    <option *ngFor="let item of empType" [value]="item.value">
                        {{ item.label }}
                    </option>
                </select>  
              </div>

             
             <div class="col-md-4">
             <div class="row date-Input">
              <input type="date" class="form-control form-date experience-row ml-2" name="middleName" pattern="\d{2}/\d{2}/\d{4}"  placeholder="Start" oninput="this.value = this.value.toUpperCase();" required>
              <input type="date" class="form-control form-date experience-row ml-2" name="middleName" pattern="\d{2}/\d{2}/\d{4}" style="width: 45%;" placeholder="End" oninput="this.value = this.value.toUpperCase();" required>
               </div>
             </div>
             <!-- <div class="col-md-3">
              <input type="date" class="form-control form-date" name="middleName" pattern="\d{2}/\d{2}/\d{4}" placeholder="DD/MM/YYYY" oninput="this.value = this.value.toUpperCase();" required>
             </div> -->
             <!-- <div class="col-md-3">
              <input type="date" class="form-control form-date" name="middleName" pattern="\d{2}/\d{2}/\d{4}" placeholder="DD/MM/YYYY" oninput="this.value = this.value.toUpperCase();" required>
             </div> -->
             <div class="col-md-4">
              <select class="form-control form-dropdown border" name="role" required>
                <option value="" disabled selected>Total Experience</option>
                <option *ngFor="let number of numbers" [value]="number">
                  {{ number }}
                </option>
            </select>  
          </div>
               </div>
    
                <!-- <label class="mb-0">Address</label>
               <div class="form-group col-md-4 mt-3">
                <textarea class="form-control" style="height: 93px;" name="degree" placeholder="Address" maxlength="15"></textarea>
               </div> -->
  
  
               <!-- <div class="form-group col-md-8 mt-3">
                <div class="form-group col-md-6"> 
                    <select #country name="country" class="form-control" id="country" (change)="onCountryChange($event)">
                        <option [value]="null">Select Your Country</option>
                        <option *ngFor="let country of countries" [value]="country | json">
                            {{ country.name }}
                        </option>
                    </select>
                </div>
            
                <div class="form-group col-md-6">
                    <select #state name="state" id="state" class="form-control" (change)="onStateChange($event)">
                        <option [value]="null">Select Your State</option>
                        <option *ngFor="let state of states" [value]="state | json">
                            {{ state.name }}
                        </option>
                    </select>
                </div> 
               </div> -->
            
  
  
  
              <br>
              <label class="mb-0 adress-box">Address</label>
              <div class="row">
                <!-- Address Box -->
                <div class="form-group col-md-4 mt-3">
                  <textarea class="form-control address-box" name="degree" placeholder="Address" maxlength="15"></textarea>
                    <!-- Your address box code goes here -->
                </div>
            
                <!-- Country and State Selectors -->
                <div class="form-group col-md-8 mt-3">
                    <div class="row">
                        <!-- Country Selector -->
                        <div class="form-group col-md-6">
                            <select #country name="country" class="form-control form-dropdown border" name="role" id="country" (change)="onCountryChange($event)">
                                <option [value]="null">Select Your Country</option>
                                <option *ngFor="let country of countries" [value]="country | json">
                                    {{ country.name }}
                                </option>
                            </select>
                        </div>
            
                        <!-- State Selector -->
                        <div class="form-group col-md-6">
                            <select #state name="state" id="state" class="form-control form-dropdown border" name="role" (change)="onStateChange($event)">
                                <option [value]="null">Select Your State</option>
                                <option *ngFor="let state of states" [value]="state | json">
                                    {{ state.name }}
                                </option>
                            </select>
                        </div>
                    </div>
              
  
      <div class="row mt-2">
          <!-- City Selector -->
          <div class="form-group col-md-6">
            <select #city name="city" id="city" class="form-control form-dropdown border" name="role" (change)="onCityChange($event)">
                <option [value]="null">Select Your City</option>
                <option *ngFor="let city of cities" [value]="city | json">
                    {{ city.name }}
                </option>
            </select>
        </div>
  
          <!-- State Selector -->
          <div class="form-group col-md-6">
            <input type="text" class="form-control form-date" name="lastName" placeholder="PinCode" required>
          </div>
      </div>
  </div>
  
  
  
  
            </div>
            
  
                    <!-- <div class="form-group col-md-6">
                        <select #city name="city" id="city" class="form-control" (change)="onCityChange($event)">
                            <option [value]="null">Select Your City</option>
                            <option *ngFor="let city of cities" [value]="city | json">
                                {{ city.name }}
                            </option>
                        </select>
                    </div> -->
                   
  
  
               
  
  
  
                <!-- <button type="submit">Send Message</button> -->
                <div class="container buttons mt-4">
                   <button type="button" class="btn warning">Cancel</button>
                   <button class="btn success">Save</button>
                  </div>
              </div>
  
          </form>
  
        </div>
  
      </div>
  
    </div>
  
  </section><!-- End Contact Section -->








  
  <section id="contact" class="container">
    <div class="container-xl px-4 profile_container">
      <div class="row">
        <div class="col-xl-12">
          <!-- Account details card-->
          <div class="card mb-4">
            <!-- <div class="card-header">Profile Info</div> -->
            <div class="card-body">
              <form>
                
                <h4>Personal Details</h4>
                <div class="row gx-3 mt-2">
                  <div class="col-md-6">
                      <label for="inputFirstName">Full Name</label>
                      <div class="input-group">
                          <input class="form-control" maxlength="50" id="inputFirstName" placeholder="Enter full name" type="text">
                          <span class="material-icons">person</span>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <label for="inputLastName">Email</label>
                      <div class="input-group">
                          <input type="email" class="form-control" id="inputLastName" placeholder="Enter email ID">
                          <span class="material-icons">email</span>
                      </div>
                  </div>
              </div>
              
              
                  

                  <div class="row gx-3 mt-3">
                  
                  
                    <div class="col-md-6">

                      <div class="row">
                        <label>Phone</label>
                        <div class="col-md-4">
                          <select #country name="country" class="form-control phone_codes" id="country" (change)="onCountryChange($event)">
                            <option [value]="null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;STD Codes</option>
                            <option *ngFor="let country of countries">
                               {{country.phonecode}} {{ country.name }}
                            </option>
                        </select>
                        
                          </div>
                          <div class="col-md-8 ml-4">

                      <!-- <input class="form-control" id="inputFirstName" placeholder="Enter phone number" type="text"> -->
                      <div class="input-group">
                        <input class="form-control" id="inputLastName" placeholder="Enter phone number" type="text">
                        <span class="material-icons">call</span>
                    </div>
                    </div>
                    </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <label>DOB</label>
                          <!-- <input type="date" matInput class="form-control" id="inputLastName" placeholder="Mobile Number"> -->
                          <div class="input-group">
                            <input type="date" class="form-control phone_codes" id="inputLastName" placeholder="Enter email ID">
                            <!-- <span class="material-icons">call</span> -->
                        </div>
                        </div>
                       <div class="col-md-6">
                        <label>Gender</label>
                      <!-- <input class="form-control" placeholder="Gender" type="text"> -->
                      <select class="form-control phone_codes" name="gender">
                        <option value="" selected disabled>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    </div>
                  </div>
                  </div>
                  </div><br>
                <!-- Experience Details -->               
                  <h4>Experience(Latest)</h4>
                  <div class="row gx-3 mb-1 mt-2">
                    <div class="col-md-4">
                      <label>Job Title</label>
                      <!-- <input class="form-control" placeholder="Enter Job Title" type="text"> -->
                      <div class="input-group">
                        <input class="form-control" id="inputLastName" placeholder="Enter job title" type="text">
                        <span class="material-icons">work</span>
                    </div>
                    </div>
                    <div class="col-md-4">
                      <label>Company Name</label>
                      <!-- <input class="form-control" placeholder="Enter Company Name" type="text"> -->
                      <div class="input-group">
                        <input class="form-control" id="inputLastName" placeholder="Enter company name" type="text">
                        <span class="material-icons">business</span>
                    </div>
                    </div>
                    <div class="col-md-4">
                      <label>Location</label>
                      <!-- <input class="form-control" placeholder="Enter Location" type="text"> -->
                      <div class="input-group">
                        <input class="form-control" id="inputLastName" maxlength="30" placeholder="Enter location" type="text">
                        <span class="material-icons">location_on</span>
                    </div>
                    </div>
                  </div><br>   
             
                <!-- Address Details -->
                <h4>Address</h4>
                  <div class="row gx-3">                
                    <div class="col-md-6">
                      <label>Adress1</label>
                      <!-- <input class="form-control" id="inputFirstName" placeholder="Enter Adress1" type="text"> -->
                      <div class="input-group">
                        <input class="form-control" id="inputLastName" maxlength="66" placeholder="Enter Adress1" type="text">
                        <span class="material-icons">location_on</span>
                    </div>
                    </div>
                    <div class="col-md-6">
                      <label>Adress2</label>
                      <!-- <input class="form-control" id="inputFirstName" placeholder="Enter Adress2" type="text"> -->
                      <div class="input-group">
                        <input class="form-control" id="inputLastName" maxlength="66" placeholder="Enter Adress2" type="text">
                        <span class="material-icons">location_on</span>
                    </div>
                    </div>
                    </div>

                    <div class="row gx-3 mt-3">                
                      <div class="col-md-3">
                        <label>Country</label>
                        <div class="input-group">
                        <select #country name="country" class="form-control" id="country" (change)="onCountryChange($event)">
                          <option [value]="null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Your Country</option>
                          <option *ngFor="let country of countries" [value]="country | json">
                              {{ country.name }}
                          </option>
                      </select>
                      <span class="material-icons">public</span>
                      </div>
                      </div>
                      <div class="col-md-3">
                        <label>State</label>
                        <div class="input-group">
                        <select #state name="state" id="state" class="form-control form-dropdown border" name="role" (change)="onStateChange($event)">
                          <option [value]="null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Your State</option>
                          <option *ngFor="let state of states" [value]="state | json">
                              {{ state.name }}
                          </option>
                      </select>
                      <span class="material-icons">location_city</span>
                      </div>
                      </div>

                      <div class="col-md-3">
                        <label>City</label>
                        <div class="input-group">
                        <select #city name="city" id="city" class="form-control" (change)="onCityChange($event)">
                          <option [value]="null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Your City</option>
                          <option *ngFor="let city of cities" [value]="city | json">
                              {{ city.name }}
                          </option>
                      </select>
                      <span class="material-icons">location_on</span>
                      </div> 
                      </div>


                      <div class="col-md-3">
                        <label>ZipCode</label>
                        <!-- <input class="form-control" id="inputFirstName" placeholder="Enter phone number" type="text"> -->
                        <div class="input-group">
                          <input class="form-control" type="number" onKeyPress="if(this.value.length==6) return false;" id="inputLastName" placeholder="Enter zipcode">
                          <span class="material-icons">local_post_office</span>
                      </div>
                      </div>
                      </div>




                    <!-- <div class="col-md-6">
                      <div class="row gx-3">
                        <div class="col-md-6">
                          <select #country name="country" class="form-control" id="country" (change)="onCountryChange($event)">
                            <option [value]="null">Select Your Country</option>
                            <option *ngFor="let country of countries" [value]="country | json">
                                {{ country.name }}
                            </option>
                        </select>
                        </div>
                        <div class="col-md-6">
                          <select #state name="state" id="state" class="form-control form-dropdown border" name="role" (change)="onStateChange($event)">
                            <option [value]="null">Select Your State</option>
                            <option *ngFor="let state of states" [value]="state | json">
                                {{ state.name }}
                            </option>
                        </select>
                        </div>
                        <div class="col-md-6 mt-1">
                          <select #city name="city" id="city" class="form-control" (change)="onCityChange($event)">
                            <option [value]="null">Select Your City</option>
                            <option *ngFor="let city of cities" [value]="city | json">
                                {{ city.name }}
                            </option>
                        </select>
                        </div>
                        <div class="col-md-6 mt-2 text-center">
                          <input class="form-control" placeholder="Pin Code" type="text">
                        </div>
                      </div>
                    </div> -->
                
                <!-- Save changes button-->
                <div class="d-flex justify-content-end mt-3">
                  <button class="btn btn-warning">Cancel</button>
                  <button class="btn btn-success">Save</button>
                </div> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>