<!-- ======= Services Section ======= -->
<section id="services" class="services">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <p>Services</p>
      <!-- <p>Veritatis et dolores facere numquam et praesentium</p> -->
    </header>

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-box blue">
          <!-- <i class="ri-team-line icon"></i> -->
          <img src="assets/img/home-page/Community.png" class="img-fluid custom_Image" alt="">
          <h3>AV Community</h3>
          <p>Our vibrant AV community champions innovation and collaboration, uniting industry experts and enthusiasts to exchange knowledge, delve into cutting-edge technologies, and shape the future of audiovisual experiences.</p>
          </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-box orange">
          <!-- <i class="ri-tools-line icon"></i> --> 
          <img src="assets/img/home-page/tools.png" class="img-fluid custom_Image" alt="">
          <h3>Tools</h3>
          <p>Enhance your productivity in the audiovisual industry with our cutting-edge AV Tools. Streamlining complex calculations and simulations, our solutions empower professionals to design and optimize setups with unparalleled precision and ease.</p>
         </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-box green">
          <i class="ri-file-chart-line icon"></i>
          <h3>Reports</h3>
          <p>AV reports provide comprehensive insights into audiovisual systems, offering detailed analyses and key metrics to facilitate informed decision-making in the planning, implementation, and maintenance of audio and visual setups.</p>
        </div>
      </div> -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-box red">
          <!-- <i class="ri-presentation-line icon"></i> -->
          <img src="assets/img/home-page/Training.png" class="img-fluid custom_Image" alt="">
          <h3>Trainings</h3>
          <p>Unlock invaluable expertise with our AV training programs, empowering professionals in the audiovisual industry to stay ahead of emerging technologies, refine their skills, and navigate the dynamic landscape of AV solutions with confidence.</p>
          </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-box purple">
          <i class="ri-calendar-event-line icon"></i>
          <h3>Events</h3>
          <p>AV events and tradeshows serve as vibrant hubs for industry networking, showcasing cutting-edge audiovisual technologies, and fostering collaborative environments where professionals can explore, share insights, and stay at the forefront of advancements in the AV sector.</p>
           </div>
      </div> -->

      <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
        <div class="service-box pink">
          <i class="ri-file-music-line icon"></i>
          <h3>Music</h3>
          <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
         </div>
      </div> -->

    </div>

  </div>

</section><!-- End Services Section -->