<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
<div class="header-boxs">
    <div class="container">
        <h2>Welcome to Our Community!!</h2>
        <div class="input-group">
            <div class="input-box input-group">
                <div class="upload_button" (click)="postQuetion()">
                <mat-icon>upload</mat-icon>
                </div>
              <input type="text" class="form-control input-sm" [(ngModel)]="searchQuetion" placeholder="Search by Question ..."/>
            <i class="fa fa-search"></i>
          </div>
          </div>

        <div class="question" *ngFor="let question of filteredEmails">
            <div class="profile">
                <img [src]="question.profile.image" alt="Profile Picture">
                <div class="username">{{ question.profile.username }}</div>
            </div>
            <div class="posted_Date">
                <p>{{ question.postedDate }}</p>
            </div>
            <div class="content">
                <p class="main_question">{{ question.question }}</p>
                <div class="comments">
                    <p>Answers:</p>
                    <ul>
                        <li *ngFor="let answer of question.answers">{{ answer }}</li>
                    </ul>
                </div>
                <div class="vote">
                    <button class="btn btn-outline-success"><mat-icon>thumb_up</mat-icon><span><span>{{ question.voteCount.up }}</span></span></button>                      
                    <button class="btn btn-outline-danger"><mat-icon>thumb_down</mat-icon><span>{{ question.voteCount.down }}</span></button>
                    <button class="btn btn-outline-primary" (click)="expandQuestion(question.slNo)"><mat-icon>comment</mat-icon></button>                       
                </div>
            </div>
            <div *ngIf="isExpanded(question.slNo)" class="share-container">
                <div class="row mt-2 input-box input-group textarea_tools">
                   <div class="col">
                       <textarea cols="100" class="form-control input-sm" placeholder="Share your Answer here..."></textarea>
                       <mat-icon class="txt_Icons">insert_photo</mat-icon>
                       <mat-icon class="txt_Icons txt_link">link</mat-icon>
                   </div>
               </div>
               <div class="row">
                   <div class="col text-center">
                       <button class="btn btn-primary">Submit</button>
                   </div>
               </div>
           </div>
        </div>        
    </div>
</div>

 <ng-template #myDialog>
    <mat-dialog-content>
      <mat-icon class="cancel_Icon" (click)="closePopup()">cancel_presentation</mat-icon>
      <div class="form-group">
        <mat-form-field class="popup_box">
            <div class="row mt-2 input-box input-group textarea_tools">
            <div class="col pop_txtarea">
                <textarea cols="100" class="form-control input-sm" name="userQuestion" [(ngModel)]="userQuestion" placeholder="Share your Question here..."></textarea>
                <mat-icon class="txt_Icons">insert_photo</mat-icon>
                <mat-icon class="txt_Icons txt_link" (click)="urlExpand()">link</mat-icon>
                <div class="url_box" *ngIf="showUrlBox">
                <input type="text" class="form-control input-sm" name="questionURl" [(ngModel)]="questionURl" placeholder="Enter URL">
                </div>
            </div>
            </div>
        </mat-form-field>   
            <div class="col text-end" style="margin-bottom: -15px;">
                <button class="btn btn-primary">Submit</button>
        </div>        
      </div>
    </mat-dialog-content>
  </ng-template>



  </body>
</html> -->



<!-- <header class="header_section">
  <div class="header_top">
    <div class="container-fluid">
      <div class="top_nav_container">
        <div class="contact_nav">
          <h1>AV Tech</h1>
        </div>
        <form class="search_form">
          <input type="text" class="filter_box" placeholder="Search products..." name="searchText"/>
          <button class="" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>      
          <nav id="navbar" class="navbar">
            <span class="material-icons">notifications</span>
          <li class="dropdown"><a> <img src="assets/img/disendra-Img.png" alt="" class="img-fluid rounded-circle"><span>{{ userName }}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a>My Posts</a></li>
               <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
        </nav>

      </div>
    </div>
  </div>
</header> -->



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Header</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Font Awesome CSS for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <style>
    /* Custom styles */
    .profile-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <header class="bg-dark">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Your Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <form class="form-inline my-2 my-lg-0 mr-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img src="assets/img/disendra-Img.png" alt="Profile" class="profile-img">
                <span>{{ userName }}</span> <i class="bi bi-chevron-down"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
