/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

strong {
    color: black;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 5px 28px;
    /* Adjust top and bottom padding */
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 100px;
    /* Center text */
    margin-left: 5px;
    font-weight: 500;
}

/* Green */
.success {
    border-color: #04AA6D;
    color: green;
}

.success:hover {
    background-color: #04AA6D;
    color: white;
}

/* Blue */
.info {
    border-color: #2196F3;
    color: dodgerblue;
}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.warning {
    border-color: #ff9800;
    color: orange;
}

.warning:hover {
    background: #ff9800;
    color: white;
}

/* .arrow-Icon {
    position: absolute;
    top: 7px;
    left: 23%;
    color: orange;
    cursor: pointer;
  } */

.arrow_Container {
    display: flex;
    padding-left: 25%;
}

.arrow-Icon {
    color: white;
    cursor: pointer;
    margin-top: 7px;
    width: 30px;
    height: 30px;
    margin-bottom: 7px;
    border-radius: 50%;
    /* background-color: #ccc; */
    display: flex;
    background: black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.red-asterisk {
    color: red!important;
}

.no-records {
    width: 450px;
}

h3 {
    font-weight: 500 !important;
}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a {
    cursor: pointer;
}

.btn_Buttons {
    background: blue;
    border: none;
    color: white;
    margin-bottom: 8px;
}

.btn-success {
    border: 2px solid green;
}

.cancel_Icon {
    margin-left: 94%;
    margin-bottom: 15px;
    color: red;
    cursor: pointer;
}

.final_count {
    border: none;
    outline: none;
}

@media (min-width: 1201px) {
    .custom_container {
        margin-left: 25%;
        /* border: 1px solid; */
        width: 74%;
    }
}

@media (max-width: 767px) {
    .custom_container {
        margin-left: 8%;
        /* border: 1px solid; */
        width: 88%;
    }
}







/* 
@media (max-width: 1200px) {
    .arrow_Container {
        display: flex;
        padding-left: 17%;
    }
  } */